    <div style="margin-bottom: 10px">
        <input type="button" value="List" onclick="window.location.href = '/Task/List';" />
        <input type="button" value="Calendar" onclick="window.location.href = '/Task/Calendar';" />
    </div>