@{
    ViewBag.Title = "Calendar";
}

<script>
    var taskModule = angular.module("TaskModule", []);

    taskModule.controller("TaskController", function ($scope, $http) {

        $scope.minWeekFromNow = 0;
        $scope.maxWeekFromNow = 0;
        $scope.dataloading = false;

        $(window).bind("scroll", function () {
            var sHeight = document.documentElement.scrollTop || document.body.scrollTop;//滚动高度
            var wHeight = document.documentElement.clientHeight;//window 
            var dHeight = document.documentElement.offsetHeight;//整个文档高度
            var xx = dHeight - (sHeight + wHeight);
            if (xx < 100) {
                $scope.GetCalendar("GetFuture");
            }
        });

        $scope.GetCalendar = function (type) {

            if ($scope.dataloading) {
                return;
            }
            $scope.dataloading = true;

            var startWeekFromNow = -1;
            var weekCount = 9;
            if (type == "GetPast") {
                weekCount = 4;
                startWeekFromNow = $scope.minWeekFromNow - weekCount;
            } else if (type == "GetFuture") {
                weekCount = 4;
                startWeekFromNow = $scope.maxWeekFromNow + 1;
            }
            
            $http.post("@Url.Content("~/Task/GetCalendar")", { startWeekFromNow: startWeekFromNow, weekCount : weekCount, timezoneOffset : (new Date()).getTimezoneOffset() })
            .success(function (data, status, headers, config) {
                if (data.length == 0) return;

                var weeks = data;

                for (var i in weeks) {
                    for (var j in weeks[i].Days) {
                        weeks[i].Days[j].Date = $.toJsDate(weeks[i].Days[j].Date);
                    }
                }

                if (type == "GetNow" || type == "GetPast") {
                    $scope.minWeekFromNow = weeks[0].WeekFromNow;
                }

                if (type == "GetNow" || type == "GetFuture") {
                    $scope.maxWeekFromNow = weeks[weeks.length - 1].WeekFromNow;
                }

                if (type == "GetNow") {
                    $scope.weeks = weeks;
                } else if (type == "GetPast") {
                    $scope.weeks = weeks.concat($scope.weeks);
                } else if (type == "GetFuture") {
                    $scope.weeks = $scope.weeks.concat(weeks);
                }

                $scope.dataloading = false;
            })
            .error(function (data, status, headers, config) {
                $scope.dataloading = false;
            });
        }

        $scope.GetCalendar("GetNow");

    });
</script>

<div>
    <h2>Calendar</h2>
</div>
<div ng-app="TaskModule" ng-controller="TaskController">
    @{Html.RenderPartial("TaskTitleBar");}
{{minWeekFromNow}} ~ {{maxWeekFromNow}}
     <a ng-click="GetCalendar('GetPast')" taskid="{{task.Id}}">
         Get more history
     </a>
    <div class="table-responsive" infinite-scroll>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sun.</th>
                    <th>Mon.</th>
                    <th>Tue.</th>
                    <th>Wed.</th>
                    <th>Thu.</th>
                    <th>Fri.</th>
                    <th>Sat.</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="week in weeks" style="min-height: 80px;">
                    <td ng-repeat="day in week.Days">
                        <div class="text-nowrap">{{day.Date | date : 'yyyy-MM-dd'}}</div>
                        <div ng-repeat="task in day.Tasks">{{task.Name}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
