<script>
    angular.module("TaskMgt", ["TaskMgt.TaskEditor","TaskMgt.TaskList"])
    .controller("TaskMgtController", function ($scope, $http) {
        $scope.$on('TaskEditor.OnSavedSuccess', function (event, savedTask) {
            alert("got it");
            $scope.$broadcast('TaskList.QueryTasks', null);
            $scope.currentArea = "TaskList";
        });

        $scope.$on('TaskEditor.OnCancelClick', function (event, currentTask) {
            $scope.currentArea = "TaskList";
        });

        $scope.$on('TaskList.OnNewTaskClicked', function (event, currentTask) {
            $scope.$broadcast('TaskEditor.OpenTaskEditor', null);
            $scope.currentArea = "TaskEditor";
        });

        $scope.$on('TaskList.OnTaskTitleClicked', function (event, currentTask) {
            $scope.$broadcast('TaskEditor.OpenTaskEditor', currentTask);
            $scope.currentArea = "TaskEditor";
        });

        $scope.currentArea = "TaskList";
    });
</script>
<div ng-app="TaskMgt">
    <div>
        <h1>Task Manager</h1>
    </div>
    <div ng-controller="TaskMgtController">
        <div ng-show="currentArea=='TaskEditor'">
            @{Html.RenderPartial("TaskEditor");}
        </div>
        <div ng-show="currentArea=='TaskList'">
            @{Html.RenderPartial("TaskList");}
        </div>
    </div>
</div>
